# ----- ANSWERS -----
# WMP ML KTS Tutorial: Predicting Attrition with Machine Learning

Name:

Date:

In this KTS, we will walk through a simplified process for what it is like to develop a Data Science project. The basic structure involves reading passages of information, and finishing exercises that are outlined for you. In some cases, there are bonus development opportunities for those that are interested. To accommodate all skill levels, here are some hotlinks that will be helpful for conducting the lab. These were sent out well ahead of time.

Additionally, for those that just want to follow-along, a link with the answers to this notebook has been provided. **Please do not look at the answers until you have tried the section yourself**.

**Python** will be the language with which you complete this lab. Some basic syntax and structure information is provided below. **Pandas** is Python's de-facto data management tool for data science, and relies heavily on dataframes. **Numpy** is a mathematics and linear algebra library that helps with general math operations, and **Sci-kit Learn** is Python's most basic and easy-to-use machine learning package.

- Basic [Python](https://perso.limsi.fr/pointal/_media/python:cours:mementopython3-english.pdf) reference
- [Pandas](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf) reference
- [Numpy](https://s3.amazonaws.com/assets.datacamp.com/blog_assets/Numpy_Python_Cheat_Sheet.pdf) reference
- [Sci-kit Learn](https://s3.amazonaws.com/assets.datacamp.com/blog_assets/Scikit_Learn_Cheat_Sheet_Python.pdf) reference

**YOU DO NOT NEED TO DOWNLOAD A PYTHON ENVIRONMENT TO YOUR LOCAL MACHINE. THIS ENVIRONMENT WILL BE PROVIDED FOR YOU THROUGH GOOGLE COLAB**

**Support:** If something does not work or make sense in this tutorial, please reach out to [Ammar Abidi](mailto:aabidi@wmp.com)

## Agenda (60 minutes)

- **\[1., 2.\]** Introduction, Imports, Reading in Data -- **5 minutes**
    - Import packages
    - Read in data
- **\[3.\]** EDA, Data Quality Analysis -- **15 minutes**
- **\[4.\]** Feature Engineering -- **30 minutes**
    - a. Variable Selection
    - b. Categorical data
    - c. Ordinal data
    - d. Boolean data
    - e. Numeric Data
    - f. Finalizing dataset
- **\[5.\]** Splitting data, Modeling, Performance Evaluation -- **15 minutes**
    - a. Importing models
    - b. Splitting data
    - c. Training models
    - d. Generating predictions
    - e. Evaluating performance
    - f. Unsupervised learning and analysis

## 1. Python Library and Package Imports

Feel free to import any of your own custom packages in the labeled section below along with pandas

In [ ]:
# IMPORT DATA MANAGEMENT TOOL PANDAS AND GIVE IT THE ALIAS pd
import pandas as pd

# IMPORT NUMPY AND GIVE IT THE ALIAS np
import numpy as np

## 2. Read in Data

See if you can read in the .csv data to a dataframe using Pandas. Feel free to use the cheatsheets, Google.com, and Stack Overflow for help. The filepath is listed below.

https://raw.githubusercontent.com/jswortz/UIC_Clustering_Code_2019/master/data/WA_Fn-UseC_-HR-Employee-Attrition.csv

**EXERCISE:** Please read in the data to the variable named df (shorthand for DataFrame), then double check that it imported successfully. Run the cell below your input and verify there are 1470 rows and 35 columns

In [ ]:
#WRITE YOUR CODE HERE TO READ IN DATA
df = pd.read_csv("https://raw.githubusercontent.com/jswortz/UIC_Clustering_Code_2019/master/data/WA_Fn-UseC_-HR-Employee-Attrition.csv")

In [1]:
#Verify the data shape
("Data Shape: {} rows x {} cols".format(len(df), len(df.columns)))

NameError: ignored

## 3. Check Data Quality

The first thing to do after reading in the data is check data quality and do EDA. Generally, EDA is a fairly long process on its own, but for the sake of time we have cut out a large portion of that. You can see a completed EDA notebook [here]() for reference later on in the lab.

Machine Learning models are very sensitive to and intolerant of ill-formatted and missing data. Therefore, the following exercises will allow us to better grasp data quality and fix any issues.

**EXERCISE:** See if you can find a snappy command to view any missing values in the dataframe, by column name.

In [ ]:
# WRITE YOUR CODE HERE TO CHECK FOR NULL DATA
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

Lucky us! As you can see there is no missing data. Now, we need to determine what data type each column is. This will help us determine what columns we should drop and which need manipulation to be better for modeling.

**EXERCISE:** See if you can find a way to view the data type of each column, either by looking at a snapshot of the dataframe or by printing the data types.

In [ ]:
#PRINT THE TOP FIVE ROWS OF THE DATAFRAME HERE
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

Warning: Total number of columns (35) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
#PRINT THE DATA TYPES, BY COLUMN, of THE DATAFRAME HERE
df.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

Interesting. There are several fields with a data type of "object". Use your data engineering skills to further understand what they are.

**EXERCISE:** First, list out the names of all the columns with a data type of `object`. Then, show a snapshot of the dataframe for only these columns. **BONUS**: Do this without manually listing the column names using the `select_dtypes` function.

In [ ]:
#WRITE YOUR CODE HERE FOR OBJECT DATA TYPE COLUMNS
df.select_dtypes(object).columns

Index(['Attrition', 'BusinessTravel', 'Department', 'EducationField', 'Gender',
       'JobRole', 'MaritalStatus', 'Over18', 'OverTime'],
      dtype='object')

In [ ]:
#PRINT A SNAPSHOT OF ALL OBJECT FIELDS IN DATAFRAME
df.loc[:,df.select_dtypes(object).columns].head()

,Attrition,BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus,Over18,OverTime
0,Yes,Travel_Rarely,Sales,Life Sciences,Female,Sales Executive,Single,Y,Yes
1,No,Travel_Frequently,Research & Development,Life Sciences,Male,Research Scientist,Married,Y,No
2,Yes,Travel_Rarely,Research & Development,Other,Male,Laboratory Technician,Single,Y,Yes
3,No,Travel_Frequently,Research & Development,Life Sciences,Female,Research Scientist,Married,Y,Yes
4,No,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Married,Y,No

**EXERCISE:** Finally, fill out the following form for each data field. Consider the following definitions for each, and take your time. This is very important for doing feature engineering correctly. Think about what the significance of a data type and its representation may have on a model. **Use the information in the EDA notebook found [here]() to help you**.

 - **Categorical**: Often a string value. Different groups, or categories of objects (e.g. Cat, Dog, Mouse, ...)
 - **Numerically Discrete**: Countably infinite numerical values. Often integers.
 - **Numerically Continuous**: Numbers, but not countably infinite. Often float values.
 - **Boolean**: Yes or No values. Sometime represented as 1 or 0 **OR** as a two option categorial variable.
 - **Ordinal**: Categorial variables with proximal association. e.g.) small, medium, large **OR** level 1, 2, 3


| Column Name | Potential Data Types |
| :----------- | ---------------------|
|**`Age`**$\;\;\;\;\;\;\;\;\;\;$   |   <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`Attrition`**$\;\;\;\;\;\;\;\;\;\;$ |     <input type="checkbox"> Categorical  $\;\;\;\;$ <input type="checkbox"> Numeric Discrete $\;\;\;\;$ <input type="checkbox"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" checked> Boolean $\;\;\;\;$ <input type="checkbox"> Ordinal
|
|**`BusinessTravel`**$\;\;\;\;\;\;\;\;\;\;$ |     <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right" checked> Ordinal
|
|**`DailyRate`**$\;\;\;\;\;\;\;\;\;\;$   |   <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`Department`**$\;\;\;\;\;\;\;\;\;\;$ |     <input type="checkbox" align = "right" checked> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`DistanceFromHome`**$\;\;\;\;\;\;\;\;\;\;$   |   <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`Education`**$\;\;\;\;\;\;\;\;\;\;$    |  <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right" checked> Ordinal
|
|**`EducationField`**$\;\;\;\;\;\;\;\;\;\;$  |    <input type="checkbox" align = "right" checked> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`EmployeeCount`**$\;\;\;\;\;\;\;\;\;\;$   |   <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`EmployeeNumber`**$\;\;\;\;\;\;\;\;\;\;$   |   <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`EnvironmentSatisfaction`**$\;\;\;\;\;\;\;\;\;\;$  |    <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`Gender`**$\;\;\;\;\;\;\;\;\;\;$   |   <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right" checked> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`HourlyRate`**$\;\;\;\;\;\;\;\;\;\;$  |    <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`JobInvolvement`**$\;\;\;\;\;\;\;\;\;\;$ |     <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`JobLevel`**$\;\;\;\;\;\;\;\;\;\;$   |   <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right" checked> Ordinal
|
|**`JobRole`**$\;\;\;\;\;\;\;\;\;\;$  |    <input type="checkbox" align = "right" checked> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`JobSatisfaction`**$\;\;\;\;\;\;\;\;\;\;$  |    <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`MaritalStatus`**$\;\;\;\;\;\;\;\;\;\;$   |   <input type="checkbox" align = "right" checked> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`MonthlyIncome`**$\;\;\;\;\;\;\;\;\;\;$  |    <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`MonthlyRate`**$\;\;\;\;\;\;\;\;\;\;$  |    <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`NumCompaniesWorked`**$\;\;\;\;\;\;\;\;\;\;$  |    <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`Over18`**$\;\;\;\;\;\;\;\;\;\;$ |     <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right" checked> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`OverTime`**$\;\;\;\;\;\;\;\;\;\;$    |  <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right" checked> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`PercentSalaryHike`**$\;\;\;\;\;\;\;\;\;\;$   |   <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`PerformanceRating`**$\;\;\;\;\;\;\;\;\;\;$  |    <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`RelationshipSatisfaction`**$\;\;\;\;\;\;\;\;\;\;$  |    <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`StandardHours`**$\;\;\;\;\;\;\;\;\;\;$    |  <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`StockOptionLevel`**$\;\;\;\;\;\;\;\;\;\;$  |    <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right" checked> Ordinal
|
|**`TotalWorkingYears`**$\;\;\;\;\;\;\;\;\;\;$  |    <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`TrainingTimesLastYear`**$\;\;\;\;\;\;\;\;\;\;$  |    <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`WorkLifeBalance`**$\;\;\;\;\;\;\;\;\;\;$   |   <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`YearsAtCompany`**$\;\;\;\;\;\;\;\;\;\;$  |    <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`YearsInCurrentRole`**$\;\;\;\;\;\;\;\;\;\;$   |   <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`YearsSinceLastPromotion`**   $\;\;\;\;\;\;\;\;\;\;$  |    <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|  
|**`YearsWithCurrManager`**  $\;\;\;\;\;\;\;\;\;\;$   |   <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|

## 4. Feature Engineering

Now that we have a good grasp for the data and its data types, we need to do the following to prepare for modeling.

    1.) Determine what fields make sense to include for modeling. (What could reasonably impact attrition?)
    2.) How should different data types be transformed to be conducive for modeling?
    3.) Write the code necessary for creating a modeling dataset.

### 4.a. Variable Selection

We want to include everything that could even have the slightest impact on attrition, but leave out the remaining fields.

**EXERCISE**: List the fields that you should remove and write a small description outlining your logic.

LIST OF FIELDS TO REMOVE:

- **EmployeeNumber** -- This is just an employee's identification number and has nothing to do with attrition
- **HourlyRate** -- Monthly rate is already provided, which documents the same thing (could drop Monthly instead)
- **DailyRate** -- Monthly rate is already provided, which documents the same thing (could drop Monthly instead)
        
        
**EXERCISE**: With your data to drop now defined, drop the columns while keeping the data in variable `df`. (**HINT**: There are three columns to drop)

In [ ]:
#WRITE CODE HERE TO DROP COLUMNS
df.drop(["EmployeeNumber", "HourlyRate", "DailyRate"], axis = 1, inplace = True)

### 4.b. Handling Categorical Data

Categorical data is almost always represented with string data types. Mathematical models do not know how to process strings so as data scientists we must alias them and create dummy variables.

**EXERCISE**: The function below is intended to create dummy variables of each categorical variable in the dataset, then combine all of the information into a single dataframe called `categorical_df`. Edit the line of the function that says `WRITE DUMMY...` to finish the logic. Then, create a list of the categorical variables that need to be converted, and execute the function to convert them. Name the output variable `categorical_df`.

In [ ]:
#Provided categorical dataframe function
def create_categorical_df(data, column_names):

    #Initialize categorical dataframe
    categorical_df = None

    #Iterate through column names
    for categorical_column in column_names:

        #----WRITE DUMMY VARIABLE FUNCTION HERE----
        categorical_dummies = pd.get_dummies(data[categorical_column])

        #Extra logic to add data to existing dataframe
        if categorical_df is None:
            categorical_df = categorical_dummies

        else:
            categorical_df = pd.concat([categorical_df, categorical_dummies], axis =1)

    #Return categorical data
    return categorical_df

In [ ]:
#MAKE LIST OF CATEGORICAL COLUMN NAMES HERE
categorical_names = ['Department', 'EducationField', 'JobRole', "MaritalStatus"]

#EXECUTE FUNCTION HERE TO MAKE CATEGORICAL DF
categorical_df = create_categorical_df(df, categorical_names)

**EXERCISE**: Verify you were successful by printing the head of the categorical dataset

In [ ]:
#WRITE CODE HERE TO VIEW HEAD OF CATEGORICAL DF
categorical_df.head()

,Human Resources,Research & Development,Sales,Human Resources,Life Sciences,Marketing,Medical,Other,Technical Degree,Healthcare Representative,...,Laboratory Technician,Manager,Manufacturing Director,Research Director,Research Scientist,Sales Executive,Sales Representative,Divorced,Married,Single
0,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
1,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,0,1,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1
3,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,0,1,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0

### 4.c. Handling Ordinal Data

Similar to categorical data, ordinal data is also often a string value. However, we do not need to make dummies of this data since there is a measure of proximity. We only need to alias the data but also ensure that **the logical order of the data is maintained**.

**EXERCISE**: The function below converts ordinal data into a model friendly format. Create a list of all ordinal data types to be converted, then create the function call and save the output at ordinal_df. (HINT: There are a total of **Four** columns, but **ONLY ONE** needs to be preprocessed. Put only the one that needs to be preprocessed in the `ordinal_df` list below. We will add the rest later.

In [ ]:
#provided ordinal dataframe function
def create_ordinal_df(data, ordinal_names, ordinal_dict):

    ordinal_df = data.loc[:,ordinal_names]

    for name in ordinal_names:
        ordinal_df[name] = ordinal_df[name].map(ordinal_dict)

    return ordinal_df

#Provided function to view ordinality
def view_ordinality(data, ordinal_names):
    for name in ordinal_names:
        print(data[name].drop_duplicates())
        print()

In [ ]:
#MAKE LIST OF ORDINAL COLUMN NAMES HERE
ordinal_names = ['BusinessTravel']

**EXERCISE**: View the ordinality of the appropriate column name, and make the corresponding dictionary (e.g. 0 = low, 1 = medium, 2 = high).

In [ ]:
#VIEW ORDINALITY OF ORDINAL COLUMNS
view_ordinality(df, ordinal_names)

0         Travel_Rarely
1     Travel_Frequently
17           Non-Travel
Name: BusinessTravel, dtype: object

In [ ]:
#MAKE ORDINAL DICTIONARY
ordinal_dict = {"Non-Travel" :0, "Travel_Rarely":1, "Travel_Frequently": 2}

In [ ]:
#MAKE FUNCTION CALL HERE TO CREATE ORDINAL DATAFRAME
ordinal_df = create_ordinal_df(df, ordinal_names, ordinal_dict)

Finally, let's add back all of the ordinal columns that did not need any alteration. These include Education, StockOptionLevel, and JobLevel.

In [ ]:
#Data is added back for you.
ordinal_df = pd.concat([ordinal_df, df.loc[:, ["Education", "StockOptionLevel", "JobLevel"]]], axis = 1)

**EXERCISE**: Verify you were successful by checking the data types of the ordinal_df. They should be integers.

In [ ]:
#VIEW DATA TYPES OF ORDINAL DF HERE
ordinal_df.dtypes

BusinessTravel      int64
Education           int64
StockOptionLevel    int64
JobLevel            int64
dtype: object

### 4.d. Handling Boolean Data

Boolean data is also often in string format. This conversion is trickier because you need to determine what represents **YES** and **NO** for each column. For attrition, this is self-explanatory (1 = attrition, 0 = not). For columns like gender, pick either gender as the **YES** gender. Ultimately it will not impact the modeling.

**EXERCISE**: Determine the variables that are boolean and put them in a list called `boolean_names`. Use the function `visualize_booleans` to determine YES / NO values, by following the steps below. Then convert the values using the provided function `convert_boolean_df`.

In [ ]:
# CREATE A LIST OF BOOLEAN COLUMNS
boolean_names = ['Attrition', 'Gender', 'Over18', 'OverTime']

In [ ]:
# Visualize the unique names found in each column name by running the function
def visualize_booleans(data, boolean_names,):
    for name in boolean_names:
        print(data[name].drop_duplicates())
        print()

In [ ]:
#CALL THE VISUALIZE BOOLEANS FUNCTION HERE
visualize_booleans(df, boolean_names)

0    Yes
1     No
Name: Attrition, dtype: object

0    Female
1      Male
Name: Gender, dtype: object

0    Y
Name: Over18, dtype: object

0    Yes
1     No
Name: OverTime, dtype: object

**EXERCISE**: It looks like we have another column that does not provide us with any unique data and is not actually boolean. Figure out which column that is, and drop it.

In [ ]:
# WRITE CODE HERE TO DROP COLUMN
df.drop(['Over18'], axis = 1, inplace = True)

In [ ]:
#REMOVE REDUNDANT COLUMN FROM boolean_names LIST
boolean_names.remove('Over18')

**EXERCISE**: Finally, create a list of lists in the format shown below, and feed it into the provided function to conver boolean values.

In [ ]:
def convert_boolean_df(data, boolean_names_and_values):
    for name_value in boolean_names_and_values:
        data[name_value[0]] = data[name_value[0]].map({name_value[1]: 1,
                                                       name_value[2]: 0})

In [ ]:
# CREATE A LIST OF LISTS ALL BOOLEAN COLUMNS
# Each list has the order: [COLUMN_NAME, YES_VALUE, NO_VALUE]
boolean_names_and_values =  [["Attrition", "Yes", "No"],
                             ["Gender", "Male", "Female"],
                             ["OverTime", "Yes", "No"]]

In [ ]:
#CALL FUNCTION TO CONVERT BOOLEAN DF HERE
convert_boolean_df(df, boolean_names_and_values)

**EXERCISE**: Verify you were successful by running `visualize_booleans` again and comparing the results.

In [ ]:
#VISUALIZE BOOLEAN OUTPUT HERE USING visualize_booleans FUNCTION
visualize_booleans(df, boolean_names)

0    1
1    0
Name: Attrition, dtype: int64

0    0
1    1
Name: Gender, dtype: int64

0    1
1    0
Name: OverTime, dtype: int64

### 4.e. Normalizing Numerical Data

We are almost ready for modeling! The last thing to do is convert our numerical data into something with more context. When we look at something like income for modeling, the actual value means nothing. What **DOES** matter is _how different that value is from other data observations_.

Therefore, many data scientists standardize numerical data by fitting it to a normal distribution and storing the _z-score_ rather than the actual values.

**EXERCISE**: Create a list of all the columns that need to be normalized (there are many!) and call it `normalized_names`. Then call the function that will normalize them and save them all to `normalized_df`.

In [ ]:
from sklearn.preprocessing import StandardScaler

def normalize_values(data, column_names):
    normalized_df = StandardScaler().fit_transform(data.loc[:,
                                                            column_names])

    return pd.DataFrame(normalized_df, columns = column_names)

In [ ]:
#WRITE NORMALIZED COLUMN NAMES LIST HERE
normalized_names = ['Age', 'DistanceFromHome', 'EmployeeCount', "EnvironmentSatisfaction",
                    'JobInvolvement', 'JobSatisfaction', "MonthlyIncome", "MonthlyRate",
                    'NumCompaniesWorked', 'PercentSalaryHike', "PerformanceRating",
                    'RelationshipSatisfaction', 'StandardHours', 'TotalWorkingYears',
                    'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany',
                    'YearsInCurrentRole', 'YearsSinceLastPromotion',
                    'YearsWithCurrManager']

In [ ]:
#CALL normalize_values FUNCTION HERE
normalized_df = normalize_values(df, normalized_names)

**EXERCISE**: Verify you were successful by viewing the head of the normalized_df

In [ ]:
#VIEW HEAD OF NORMALIZED DF HERE
normalized_df.head()

,Age,DistanceFromHome,EmployeeCount,EnvironmentSatisfaction,JobInvolvement,JobSatisfaction,MonthlyIncome,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,0.446350,-1.010909,0.0,-0.660531,0.379672,1.153254,-0.108350,0.726020,2.125136,-1.150554,-0.426230,-1.584178,0.0,-0.421642,-2.171982,-2.493820,-0.164613,-0.063296,-0.679146,0.245834
1,1.322365,-0.147150,0.0,0.254625,-1.026167,-0.660853,-0.291719,1.488876,-0.678049,2.129306,2.346151,1.191438,0.0,-0.164511,0.155707,0.338096,0.488508,0.764998,-0.368715,0.806541
2,0.008343,-0.887515,0.0,1.169781,-1.026167,0.246200,-0.937654,-1.674841,1.324226,-0.057267,-0.426230,-0.658973,0.0,-0.550208,0.155707,0.338096,-1.144294,-1.167687,-0.679146,-1.155935
3,-0.429664,-0.764121,0.0,1.169781,0.379672,0.246200,-0.763634,1.243211,-0.678049,-1.150554,-0.426230,0.266233,0.0,-0.421642,0.155707,0.338096,0.161947,0.764998,0.252146,-1.155935
4,-1.086676,-0.887515,0.0,-1.575686,0.379672,-0.660853,-0.644858,0.325900,2.525591,-0.877232,-0.426230,1.191438,0.0,-0.678774,0.155707,0.338096,-0.817734,-0.615492,-0.058285,-0.595227

### 4.f. Finalizing the Modeling Dataset

Finally, we are ready to combine everything together into a modeling dataset. The dataset df is refined for you below to trim out all values that we have changed.

**EXERCISE**: Using all of the previously created dataframes, including `boolean_df`,`normalized_df`,`ordinal_df`, and `categorical_df`, combine all of the data into a single flat dataset.

In [ ]:
# Editing df to only include preprocessed columns
boolean_df = df.loc[:,boolean_names]

In [ ]:
#COMBINE ALL DATA TOGETHER HERE (including boolean_df)
df = pd.concat([boolean_df, categorical_df, normalized_df, ordinal_df], axis = 1)

**EXERCISE**: Verify that you combined the data correctly by checking the shape of `df`. You should have 1470 rows and 48 columns

In [ ]:
#VIEW SHAPE OF DF HERE
df.shape

(1470, 48)

## 5. Model Training and Evaluation

Finally, we are ready to start modeling. In this section we will compare the performance of three fairly basic Machine Learning algorithms and see how well they can predict attrition.

The three models are listed below, and will be implemented using Scikit-Learn, one of the most popular ML packages in Python:

    1.) Gaussian Naive Bayes (GNB)
    2.) Logistic Regression (LOG)
    3.) Random Forest (RF)

Additionally, we will look at the results from a clustering algorithm. For this excercise, we will use K-Means Clustering (KMC)
    
Here is a quick blurb on how each of these ML algorithms work.
   
  
- **GNB**
    
Probabilistically examines the mean characteristics of the stereotypical attrition and non-attrition individual. Assuming feature independence (naivete), the unknown person is classified based on the stereotype in which they are characteristically most similar.
  
- **LOG**

Regression system that classifies individuals by determining an optimal separation boundary between individuals that were characterized by attrition and those that were not.

- **RF**

During training, this model creates a set of decision trees. For a given input, the model outputs whatever is selected by the greatest number of decision trees.


- **KMC**

K-Means Clustering, unlike the machine learning models, does not directly label an input. Instead, it groups the inputs into a number of clusters, *k*, based on similarity. This is not to be confused with K-Nearest Neighbors, which instead takes a set of *labelled data* and learns to classify inputs.

### 5.a. Importing Models

For convenience, the models have been imported below

In [ ]:
# GNB
from sklearn.naive_bayes import GaussianNB

# LOG
from sklearn.linear_model import LogisticRegression

# RF
from sklearn.ensemble import RandomForestClassifier

#KMC
from sklearn.cluster import KMeans

Before we can do anything with these models, we need to instantiate them.

**EXERCISE**: Instantiate all three models below, setting them to the names of their abbreviations (this is simple, do not overthink this).

There will be a separate section for the unsupervised K-Means Clustering.

In [ ]:
# GNB
GNB = GaussianNB()

# LOG
LOG = LogisticRegression()

# RF
RF = RandomForestClassifier()

### 5.b. Split the data into train and test slices

To evaluate models in an unbiased way, we have to set some data aside that the model will not see during training. This process is called train test split.

**EXERCISE**: The train test split function is provided to you below. Split the input and target (**target = Attrition**) data into slices. Set the output variables to be X_train, X_test, y_train, and y_test **in that order**. Make the split on 25% of the data.

In [ ]:
from sklearn.model_selection import train_test_split

In [2]:
#WRITE CODE HERE (Tricky! See if you can specify ALL columns but attrition.)
X_train, X_test, y_train, y_test = train_test_split(df.loc[:, df.columns != "Attrition"],
                                                    df.loc[:, "Attrition"],
                                                    test_size = 0.25)

NameError: ignored

### 5.c. Train all of the models

Now we are ready to train the models! In order to train the models, you must call `.fit` on each model. Be sure to only give the model the training data! e.g.) model.fit(train_x_values, train_y_values)

**EXERCISE**: Call `.fit` for all of the instantiated models.

In [ ]:
# GNB
GNB.fit(X_train, y_train)

# LOG
LOG.fit(X_train, y_train)

# RF
RF.fit(X_train, y_train)

RandomForestClassifier()

### 5.d. Make prediction for all of the models

Now we can use our trained models to predict. You can do so by providing **ONLY THE TRAINING DATA** to the trained model and calling `.predict`. e.g.) model.predict(test_x_values)

**EXERCISE**: Call `.predict` for all of the instantiated models. Save all output as "<MODEL_NAME>_preds". e.g.) KNN_preds.

In [ ]:
# GNB
GNB_preds = GNB.predict(X_test)

# LOG
LOG_preds = LOG.predict(X_test)

# RF
RF_preds = RF.predict(X_test)

### 5.e. Evaluate performance for all models

**EXERCISE**: Now that we have predictions, use the function provided below to determine which model is best! See the function's inputs for what you need to provide (**HINT**: which of the `train_test_split` slices includes the actual classes for the test data?)

In [ ]:
from sklearn.metrics import classification_report

def get_performance(model_name, actual_results, predictions):
    print(model_name + "\n" +
          classification_report(actual_results,
                                predictions))
    print("\n================================================================================\n")

In [ ]:
#GNB PERFORMANCE
get_performance("GNB", y_test, GNB_preds)

#LOG PERFORMANCE
get_performance("LOG", y_test, LOG_preds)

#RF PERFORMANCE
get_performance("RF", y_test, RF_preds)

GNB
              precision    recall  f1-score   support

           0       0.93      0.65      0.77       305
           1       0.32      0.78      0.45        63

    accuracy                           0.67       368
   macro avg       0.63      0.72      0.61       368
weighted avg       0.83      0.67      0.71       368


================================================================================

LOG
              precision    recall  f1-score   support

           0       0.89      0.98      0.93       305
           1       0.84      0.41      0.55        63

    accuracy                           0.89       368
   macro avg       0.86      0.70      0.74       368
weighted avg       0.88      0.89      0.87       368


================================================================================

RF
              precision    recall  f1-score   support

           0       0.85      1.00      0.92       305
           1       0.89      0.13      0.22        63

    accuracy                           0.85       368
   macro avg       0.87      0.56      0.57       368
weighted avg       0.85      0.85      0.80       368


================================================================================

**EXERCISE**: Which model was the best?
    
<input type="checkbox" align = "right"> GNB  $\;\;\;\;$ <input type="checkbox" align = "right" checked> LOG $\;\;\;\;$ <input type="checkbox" align = "right"> RF

### 5.f Unsupervised Learning

K-Means Clustering is an *unsupervised learning* technique. This means that we will not split up the data into testing and training sets, but rather we will use this algorithm to breakdown our total population into two groups. Then, we can look at how their characteristics diverge.

Selection of the correct number of clusters is done using the "elbow test". Feel free to learn more on your own, but we have provided the number of clusters you need to use for this exercise. Additionally, we will use a random_state of 20 for reproducibility.

**EXERCISE:** Create a copy of our dataset and assign it to the variable *df_KMC*. Drop Attrition from our *df_KMC*. Typically, we would also need to scale our dataset, but we already did that to run our previous models.

In [ ]:
df_KMC = df.copy()
df_KMC = df_KMC.drop('Attrition', axis = 1)

**EXERCISE:** We need to first initialize our KMC model and fit it to *df_KMC*. Then save our KMC model's *centroids* and *assignments* to variables of the same name.

In [ ]:
KMC = KMeans(n_clusters = 2, random_state = 20).fit(df_KMC)
centroids = KMC.cluster_centers_
assignments = KMC.labels_

**EXERCISE:** Add a column labeled Cluster with the KMC assignments. Also create a pivot table on the new Cluster column.

In [ ]:
df['Cluster'] = assignments
pivot = df.pivot_table(index='Cluster', aggfunc=np.mean)

The below function creates a new calculated column named '% of Attrition' on each cluster

In [ ]:
def calc_percent_attrition(df, pivot):
  counter0=0
  counter1=0
  percentages=[]
  for i in range(0,df['Cluster'].size):
      if(df['Cluster'][i] == 0):
          counter0+=1
      if(df['Cluster'][i] == 1):
          counter1+=1
  percentages.append(counter0/df['Cluster'].size)
  percentages.append(counter1/df['Cluster'].size)
  for i in range(len(percentages)):
      pivot.loc[i, '% of Attrition'] = percentages[i]*100
  return df, pivot

**EXERCISE: ** Run the *calc_percent_attrition* function on the original dataframe and pivot table

In [ ]:
#RUN calc_percent_attrition
df, pivot = calc_percent_attrition(df, pivot)

**EXERCISE:** Show the pivot table. What significant differences do you see between the clusters?

In [ ]:
#RETURN THE PIVOT TABLE
pivot.T

Cluster                            0          1
Age                         0.661554  -0.302256
Attrition                   0.099783   0.189296
BusinessTravel              1.080260   1.089197
DistanceFromHome           -0.001539   0.000703
Divorced                    0.232104   0.218038
Education                   3.071584   2.840436
EmployeeCount               0.000000   0.000000
EnvironmentSatisfaction     0.058095  -0.026543
Gender                      0.579176   0.609514
Healthcare Representative   0.125813   0.072349
Human Resources             0.034707   0.046581
Human Resources             0.015184   0.019822
Human Resources             0.010846   0.046581
JobInvolvement              0.004578  -0.002092
JobLevel                    3.223427   1.534192
JobSatisfaction             0.004188  -0.001914
Laboratory Technician       0.049892   0.233895
Life Sciences               0.416486   0.410307
Manager                     0.210412   0.004955
Manufacturing Director      0.127983   0.085233
Marketing                   0.125813   0.100099
Married                     0.509761   0.434093
Medical                     0.305857   0.320119
MonthlyIncome               1.013807  -0.463196
MonthlyRate                 0.036915  -0.016866
NumCompaniesWorked          0.057711  -0.026367
Other                       0.049892   0.058474
OverTime                    0.273319   0.287413
PercentSalaryHike          -0.035923   0.016413
PerformanceRating           0.000753  -0.000344
RelationshipSatisfaction    0.017370  -0.007936
Research & Development      0.626898   0.666006
Research Director           0.156182   0.007929
Research Scientist          0.054230   0.264618
Sales                       0.338395   0.287413
Sales Executive             0.260304   0.204163
Sales Representative        0.004338   0.080278
Single                      0.258134   0.347869
StandardHours               0.000000   0.000000
StockOptionLevel            0.841649   0.772052
Technical Degree            0.086768   0.091179
TotalWorkingYears           1.028276  -0.469807
TrainingTimesLastYear      -0.021016   0.009602
WorkLifeBalance             0.015589  -0.007123
YearsAtCompany              0.950368  -0.434212
YearsInCurrentRole          0.914725  -0.417927
YearsSinceLastPromotion     0.790180  -0.361024
YearsWithCurrManager        0.868572  -0.396840
% of Attrition             31.360544  68.639456

**Congratulations! You've completed the WMP ML KTS.**

## Advanced Exercises

If you liked this tutorial, want to get involved in Machine Learning at West Monroe, or both, please go ahead and try the following additional exercises.

1. In this tutorial we used the package Scikit-learn to examine different Machine Learning algorithms and their ability to predict attrition with the given data. Try implementing K-Nearest Neighbors from scratch (no Sklearn!) and compare the results to the findings in your notebook.

2. Really love this stuff? Are you a math whiz? Implement a Gaussian Naive Bayes' classifier from scratch to classify this data. Compare its performance to the Scikit-learn GNB.

3. Want to flex your presentation skills? Build a visualization or deck intended for a non-technical audience to showcase your findings